.header__link-img {
  display: flex;
  justify-content: center;
  padding: 0.9rem;
}

.header__logo-img {
  width: 55%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #3b3a3a;
  color: #ffffff;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
}

.footer__logo-h2 {
  font-family: Shrikhand, "cursive";
  margin: 0;
  font-size: 1.2rem;
}

.footer__nav {
  padding: 0;
}

.footer__nav-elements {
  list-style: none;
  padding-bottom: 8px;
}

.fotter__nav--elements-link {
  text-decoration: none;
  color: inherit;
}

.footer__nav-icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.header__previous--page-link {
  text-decoration: none;
  color: inherit;
  margin-left: 1rem;
}
.header__previous--page-link-icon {
  font-size: 1.3rem;
}

.menu__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.menu__restaurants--cards-section {
  background: #eeecec;
  border-radius: 3rem 3rem 0 0;
  padding: 2rem 1.5rem;
  position: relative;
  margin-top: -3rem;
}

.menu__cards--title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__title-h1 {
  margin: 0;
  font-family: Shrikhand, "cursive";
}

.menu__cards-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.menu__cards-title {
  padding-top: 2rem;
  border-bottom: 0.3rem solid #99E2D0;
  width: 2.5rem;
}

.menu__cards--title-h2 {
  color: #787777;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.menu__cards-article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ffffff;
  width: 100%;
  border-radius: 1rem;
  padding: 0.7rem 1.2rem 0.7rem 1rem;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
}

.menu__cards--text-h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
}

.menu__cards--text-p {
  margin: 0;
  color: #787777;
  font-size: 0.9rem;
  font-weight: 400;
}

.menu__cards--dishes-price {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.menu__cards--price-number {
  font-weight: 500;
  font-size: 1rem;
  color: #3b3a3a;
  margin: 0;
}
.menu__cards--price-number-euro {
  font-weight: 500;
  margin: 0;
}

.menu__cards--dishes-check {
  display: none;
}

.menu__order-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.menu__order-button {
  padding: 1rem;
  border-radius: 50px;
  width: 100%;
  color: #ffffff;
  border: none;
  background: linear-gradient(352deg, #9356DC, #FF79DA);
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  font-weight: 500;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.location {
  background-color: #E5E5E5;
}
.location__search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b3a3a;
  gap: 0.625rem;
  margin-left: -1rem;
  box-shadow: 0px 0px 3px #787777;
}
.location__search-icon {
  font-size: 1.1rem;
}
.location__search-city {
  font-size: 0.9rem;
}

.presentation__container {
  background-color: #f6f6f6;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  text-align: center;
}
.presentation__text-h1 {
  margin: 0;
  font-size: 2rem;
}
.presentation__text-p {
  color: #787777;
  font-size: 1.2rem;
}
.presentation__button {
  border: none;
  border-radius: 50px;
  padding: 20px;
  margin-top: 15px;
  background: linear-gradient(352deg, #9356DC, #FF79DA);
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  color: #f6f6f6;
  font-size: 1rem;
  cursor: pointer;
}

.container {
  padding: 2rem;
}

.functions__restaurants--title-h2 {
  margin: 0;
  font-size: 1.5rem;
}

.functions__title-h2 {
  padding-bottom: 1.5rem;
}

.functions__operation-elements {
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 30px;
  border: none;
  border-radius: 20px 20px;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  background: #f6f6f6;
  margin-bottom: 20px;
  height: 3.5rem;
  cursor: pointer;
}

.functions__operation-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f6f6;
  background: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: 1.2rem;
}

.functions__operation-icons {
  color: #3b3a3a;
}

.functions__operation-elements:hover {
  background: #F5EDFF;
}
.functions__operation-elements:hover .functions__operation-icons {
  color: #9356DC;
}

.restaurants__container {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.restaurants__cards-link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.restaurants__cards-article {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: all ease-out 0.1s;
}

.restaurants__cards-img {
  width: 100%;
  height: 195px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.restaurants__alerte--new-img {
  background: #99E2D0;
  color: #1a8a68;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.restaurants__container--bottom-elements {
  display: flex;
}

.restaurants__container-text {
  padding: 15px;
}

.restaurants__subtitle-h3 {
  margin: 0;
}

.restaurants__text-p {
  margin-top: 5px;
  margin-bottom: 0;
}

.restaurants__container-icon {
  position: absolute;
  right: 0.1rem;
  padding: 1rem;
}

.restaurants__icon-like {
  font-size: 1.8rem;
  color: #3b3a3a;
}
.restaurants__icon-like:hover {
  animation: fill 1s ease-out;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

/*# sourceMappingURL=index.css.map */
