.header__link-img {
  display: flex;
  justify-content: center;
  padding: 0.9rem;
}

.header__logo-img {
  width: 55%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background: #3b3a3a;
  color: #ffffff;
}

.footer__container {
  display: flex;
  flex-direction: column;
  padding: 1.1rem;
}

.footer__logo-h2 {
  font-family: Shrikhand, "cursive";
  margin: 0;
  font-size: 1.2rem;
}

.footer__nav {
  padding: 0;
}

.footer__nav-elements {
  list-style: none;
  padding-bottom: 8px;
}

.fotter__nav--elements-link {
  text-decoration: none;
  color: inherit;
}

.footer__nav-icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #9356DC;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #FF79DA;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #99E2D0;
  }
}
@keyframes spinnerOff {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;
  }
}
@keyframes menu__elements {
  from {
    transform: translateY(60%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.loader {
  background: #ffffff;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 1;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  animation: spinnerOff 0.2s 3s forwards;
}

.loader__ring {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: ring 2s infinite;
}

.loader__ring:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px #3b3a3a;
}

.loader__ring-text {
  color: #3b3a3a;
  font-family: Shrikhand, "cursive";
  font-size: 1.563rem;
  line-height: 200px;
}

.location {
  background-color: #E5E5E5;
}
.location__search {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3b3a3a;
  gap: 0.5rem;
  margin-left: -1rem;
  box-shadow: 0px 0px 3px #787777;
}
.location__search-icon {
  font-size: 1.1rem;
}
.location__search-city {
  font-size: 0.9rem;
}

.presentation__container {
  background-color: #f6f6f6;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3.125rem;
  text-align: center;
}
.presentation__text-h1 {
  margin: 0;
  font-size: 2rem;
}
.presentation__text-p {
  color: #787777;
  font-size: 1rem;
}
.presentation__button {
  border: none;
  border-radius: 3.125rem;
  padding: 1.24rem;
  margin-top: 0.938rem;
  background: linear-gradient(352deg, #9356DC, #FF79DA);
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  color: #f6f6f6;
  font-size: 1.2rem;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.25s;
}
.presentation__button:hover {
  filter: brightness(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.container {
  padding: 2rem;
}

.functions__restaurants--title-h2 {
  margin: 0;
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
}

.functions__operation-elements {
  display: flex;
  align-items: center;
  padding-left: 30px;
  gap: 1.875rem;
  border: none;
  border-radius: 20px 20px;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  background: #f6f6f6;
  margin-bottom: 20px;
  height: 3.5rem;
  cursor: pointer;
  position: relative;
}

.functions__operation-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f6f6f6;
  background: #9356DC;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  position: absolute;
  left: -0.7rem;
}

.functions__operation-icons {
  color: #3b3a3a;
}

.functions__operation-elements:hover {
  background: #F5EDFF;
}
.functions__operation-elements:hover .functions__operation-icons {
  color: #9356DC;
}

.container__restaurants-bg {
  background-color: #f6f6f6;
}

.restaurants__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.restaurants__cards-link {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.restaurants__cards-article {
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  transition: all ease-out 0.1s;
}

.restaurants__cards-img {
  width: 100%;
  height: 195px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.restaurants__alerte--new-img {
  background: #99E2D0;
  color: #1a8a68;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}

.restaurants__container--bottom-elements {
  padding: 15px;
  position: relative;
}

.restaurants__subtitle-h3 {
  margin: 0;
}

.restaurants__text-p {
  margin-top: 5px;
  margin-bottom: 0;
}

.restaurants__icon-like--empty {
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 1.8rem;
}

.restaurants__icon-like--full {
  display: inline-block;
  transform: scale(0);
  font-weight: bold;
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: transform 400ms;
  position: absolute;
  right: 15px;
  bottom: 15px;
  font-size: 1.8rem;
}

.restaurants__icon-like--empty:hover + .restaurants__icon-like--full {
  cursor: pointer;
  transform: scale(1);
}

.header__previous--page-link {
  text-decoration: none;
  color: inherit;
  position: absolute;
  left: 2rem;
}
.header__previous--page-link-icon {
  font-size: 1.3rem;
}

.menu__img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.menu__restaurants--cards-section {
  background: #eeecec;
  border-radius: 3rem 3rem 0 0;
  padding: 2rem 1.5rem;
  position: relative;
  margin-top: -5rem;
}

.menu__cards--title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.menu__title-h1 {
  margin: 0;
  font-family: Shrikhand, "cursive";
}

.menu__cards {
  display: flex;
  flex-direction: column;
}

.menu__cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.menu__cards-title {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  border-bottom: 0.3rem solid #99E2D0;
  width: 2.5rem;
}

.menu__cards--title-h2 {
  color: #787777;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0;
}

.menu__cards-article {
  display: flex;
  background: #ffffff;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  animation: menu__elements 2s;
  animation-fill-mode: forwards;
}

.menu__cards-info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding: 0.7rem 1.2rem 0.7rem 1rem;
  gap: 1rem;
  width: 80%;
}

.menu__cards-dishes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  white-space: nowrap;
}

.menu__cards--text-h3 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__cards--text-p {
  margin: 0;
  color: #787777;
  font-size: 0.9rem;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu__cards--dishes-price {
  margin: 0;
  font-weight: 500;
  font-size: 1rem;
  color: #3b3a3a;
  display: flex;
  align-items: flex-end;
}

.menu__cards--dishes-check {
  background-color: #99E2D0;
  cursor: pointer;
  border-radius: 0 1rem 1rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0%;
  opacity: 0%;
  transition-duration: 1s;
}

.menu__cards-article:hover .menu__cards--dishes-check {
  width: 20%;
  opacity: 100%;
  cursor: pointer;
  transform: rotate(0);
}

.menu__cards--check-icon {
  color: #ffffff;
  font-size: 1.5rem;
  transform: rotate(360deg);
  transition: 0.5s ease-in-out;
}

.menu__cards-article:hover .menu__cards--check-icon {
  transform: rotate(0);
}

.menu__order-container {
  display: flex;
  justify-content: center;
  padding: 3rem;
}

.menu__order-button {
  padding: 1.4rem;
  border-radius: 50px;
  width: 100%;
  color: #ffffff;
  border: none;
  background: linear-gradient(352deg, #9356DC, #FF79DA);
  box-shadow: 1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  font-size: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.25s;
}
.menu__order-button:hover {
  filter: brightness(1.1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .loader__ring {
    width: 160px;
    height: 160px;
  }
  .loader__ring-text {
    font-size: 1.7rem;
  }
  .header__link-img {
    padding: 1.3rem;
  }
  .header__logo-img {
    width: 65%;
  }
  .footer__logo-container {
    display: flex;
    justify-content: center;
    padding: 0.8rem;
  }
  .footer__logo-h2 {
    font-size: 1.8rem;
  }
  .footer__nav {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem;
  }
  .fotter__nav--elements-link {
    font-size: 1.2rem;
  }
  .location__search-icon {
    font-size: 1.2rem;
  }
  .location__search-city {
    font-size: 1.1rem;
  }
  .presentation__text-h1 {
    font-size: 2.2rem;
  }
  .presentation__text-p {
    font-size: 1.1rem;
  }
  .presentation__button {
    font-size: 1.2rem;
  }
  .functions__restaurants--title-h2 {
    font-size: 1.5rem;
  }
  .functions__operation-text {
    font-size: 1.2rem;
  }
  .functions__operation-icons {
    font-size: 1.2rem;
  }
  .functions__operation-circle {
    width: 2rem;
    height: 2rem;
    left: -1rem;
  }
  .functions__operation-elements {
    padding-left: 50px;
    gap: 50px;
    height: 3.8rem;
  }
}
@media screen and (min-width: 1023px) {
  .footer__nav {
    flex-direction: row;
    justify-content: space-around;
  }
  .functions__operations {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  .functions__operation-elements {
    padding-right: 0.6rem;
    width: 60%;
  }
  .restaurants__container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .restaurants__cards-link {
    width: 30%;
  }
}
@media screen and (min-width: 768px) {
  .menu__order-button {
    width: 25%;
  }
}
@media screen and (min-width: 1023px) {
  .header__previous--page-link {
    display: none;
  }
  .menu__cards {
    flex-direction: row;
    justify-content: center;
    gap: 3rem;
  }
  .menu__cards-container {
    width: 30%;
  }
  .menu__cards--title-container {
    justify-content: center;
  }
  .menu__order-container {
    padding: 4rem;
  }
  .menu__order-button {
    width: 16%;
    font-size: 1rem;
  }
}

/*# sourceMappingURL=index.css.map */
