// @keyframes homeLoader {
//   to  {
//           background-size: 20% 16px;
//   }
// }

// @keyframes  menu__elements{
// 	0%{
// 		opacity:0;
//     transform:translateY(50%);
// 	  }
// 	}

// 	100%{
// 		opacity:1;
// 	}
// }

@keyframes menu__elements {
  from {
    transform: translateY(60%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}