//Header
.header__link-img{
    display: flex;
    justify-content: center;
    padding: 0.9rem;
}
.header__logo-img{
    width: 55%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
}



