//TABLETTE 
@include mediaminwidth(768px){
    .menu__order-button{
        width: 25%;
    }
}



//DESKTOP
@include mediamaxwidth(1023px){
    .header__previous--page-link{
        display: none;
    }

    .menu__cards--title-container{
        justify-content: space-around;
    }

    .menu__cards{
        flex-direction: row;
        justify-content: center;
        gap: 3rem;
    }
    .menu__cards-container{
        width: 30%;
    }

    .menu__order-container{
        padding: 4rem;
    }

    .menu__order-button{
        width: 16%;
        font-size: 1rem;
    }

}

